# {{ ansible_managed }}
root:{{ ssmtp_mail_pseudo }}@{{ ssmtp_provider }}:{{ ssmtp_mail_provider}}:{{ ssmpt_port }}
{{ ssmtp_mail_user }}:{{ ssmtp_mail_pseudo }}@{{ ssmtp_provider }}:{{ ssmtp_mail_provider}}:{{ ssmpt_port }}
